<div class="pageHeader">
    <div nz-row>
        <div nz-col [nzSpan]="12">
            <h1 class="title">Users</h1>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
                <input type="text" nz-input placeholder="Search for user" />
            </nz-input-group>

        </div>
    </div>
</div>
<br>

<nz-table #basicTable nzBordered [nzData]="listOfData" [nzTitle]="header">
    <ng-template #header>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <span class="float-right">
                                    <button nz-button  nzType="primary" (click)="showAddUserModal()">Add User</button>
                </span>
            </div>

        </div>
    </ng-template>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Username</th>
            <th>User Role</th>

            <!-- <th nzAlign='center'><i nz-icon nzType="eye" nzTheme="outline" style="font-size: 16px; color: #08c;"></i></th> -->
            <th nzAlign='center'><i nz-icon nzType="edit" nzTheme="outline" style="font-size: 16px; color: #f5bd1f;"></i></th>
            <th nzAlign='center'><i nz-icon nzType="delete" nzTheme="outline" style="font-size: 16px; color: red;"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.fullName}}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.username }}</td>
            <td>{{ data.role }}</td>
            <td nzAlign='center'>
                <button nz-button class="login-form-forgot login-form-button login-form-margin" nzType="primary" (click)="showUpdateUserModal()">Update User</button>
            </td>
            <td nzAlign='center'>
                <button nz-button class="login-form-forgot login-form-button login-form-margin" nzType="danger" (click)="showDeleteUserModal()">Delete User</button>
            </td>

        </tr>
    </tbody>
</nz-table>


<!-- Add user modal -->
<nz-modal [(nzVisible)]="isAddUserVisible" [nzTitle]="title2" nzCentered nzClosable=false>
    <ng-template #title2><span style="color:#00162b; margin-right: 6px;">Add</span><span style="color:#f5bd1f;">User</span></ng-template>
    <form nz-form [formGroup]="validateForm">
        <ng-container *nzModalContent>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input name!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="idcard" nzTheme="outline"></i></ng-template>
                        <input type="text" nz-input formControlName="name" placeholder="Name" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input surname!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="idcard" nzTheme="outline"></i></ng-template>
                        <input type="text" nz-input formControlName="name" placeholder="Surname" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input surname!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="mail" nzTheme="outline"></i></ng-template>
                        <input type="email" nz-input formControlName="name" placeholder="Email Address" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please select a user role!">
                    <nz-input-group [nzAddOnBefore]="calendarIcon">
                        <ng-template #calendarIcon><i nz-icon nzType="unordered-list" nzTheme="outline"></i></ng-template>
                        <nz-select ngModel="Default" style="width: 100%;" nzPlaceHolder="Select User Role" formControlName="aType">
                            <nz-option nzCustomContent nzLabel="Student" nzValue="Student"> Student </nz-option>
                            <nz-option nzCustomContent nzLabel="Building Coordinator " nzValue="Building Coordinator ">Building Coordinator </nz-option>
                            <nz-option nzCustomContent nzLabel="Village Fresh Manager" nzValue="Village Fresh Manager">Village Fresh Manager </nz-option>


                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input announcement name!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="sound" nzTheme="outline"></i></ng-template>
                        <input type="text" nz-input formControlName="name" placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>



        </ng-container>
        <div *nzModalFooter>
            <button nz-button nzType="danger" (click)="handleCancelAddUser()">Cancel</button>
            <button nz-button nzType="primary" nz-popconfirm nzOkText="Yes" nzCancelText="No" nzPopconfirmTitle="Are you sure you want to add the user?" nzPopconfirmPlacement="top" (nzOnConfirm)="confirmAdd()" (nzOnCancel)="cancel()" [nzLoading]="isConfirmLoading">Add</button>
        </div>
    </form>
</nz-modal>
<!-- Update user modal -->
<nz-modal [(nzVisible)]="isUpdateUserVisible" [nzTitle]="title3" nzCentered nzClosable=false>
    <ng-template #title3><span style="color:#00162b; margin-right: 6px;">Update</span><span style="color:#f5bd1f;">User</span></ng-template>
    <form nz-form [formGroup]="validateForm">
        <ng-container *nzModalContent>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input name!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="idcard" nzTheme="outline"></i></ng-template>
                        <input type="text" nz-input formControlName="name" ngModel="John" placeholder="Name" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input surname!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="idcard" nzTheme="outline"></i></ng-template>
                        <input type="text" nz-input formControlName="surname" ngModel="Doe" placeholder="Surname" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input email!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="mail" nzTheme="outline"></i></ng-template>
                        <input type="email" nz-input formControlName="email" ngModel="johndoe@gmail.com" placeholder="Email Address" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please select a user role!">
                    <nz-input-group [nzAddOnBefore]="calendarIcon">
                        <ng-template #calendarIcon><i nz-icon nzType="unordered-list" nzTheme="outline"></i></ng-template>
                        <nz-select ngModel="Student" style="width: 100%;" nzPlaceHolder="Select User Role" formControlName="aType">
                            <nz-option nzCustomContent nzLabel="Student" nzValue="Student"> Student </nz-option>
                            <nz-option nzCustomContent nzLabel="Building Coordinator " nzValue="Building Coordinator ">Building Coordinator </nz-option>
                            <nz-option nzCustomContent nzLabel="Village Fresh Manager" nzValue="Village Fresh Manager">Village Fresh Manager </nz-option>


                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input username!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="sound" nzTheme="outline"></i></ng-template>
                        <input type="text" nz-input formControlName="username" ngModel="12345678" disabled placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

        </ng-container>
        <div *nzModalFooter>
            <button nz-button nzType="danger" (click)="handleCancelUpdateUser()">Cancel</button>
            <button nz-button nzType="primary" nz-popconfirm nzOkText="Yes" nzCancelText="No" nzPopconfirmTitle="Are you sure you want to update the user?" nzPopconfirmPlacement="top" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()" [nzLoading]="isConfirmLoading">Update</button>
        </div>
    </form>
</nz-modal>

<!-- Confirm Remove announce modal -->

<nz-modal [(nzVisible)]="isDeleteUserVisible" [nzTitle]="title6" nzCentered nzClosable=false nzIconType="warning">
    <ng-template #title6><span style=" color:#00162b; margin-right: 6px;">Delete</span><span style="color:#f5bd1f;">User</span></ng-template>
    <form nz-form>
        <ng-container *nzModalContent>
            <b style="color: red;">Are you sure you want to delete this user?</b>
        </ng-container>
        <div *nzModalFooter nzColor="green">
            <button nz-button nzType="danger" (click)="handleCancelDeleteUser()">No</button>
            <button nz-button nzType="primary" (click)="handleOkDeleteUser()" [nzLoading]="isConfirmLoading" [hidden]="status=='Approved'">Yes</button>
        </div>
    </form>
</nz-modal>