<div class="pageHeader">
    <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
            <h1 class="title">Maintenance Requests</h1>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Search for request" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
            </ng-template>
        </div>
    </div>


</div>
<br>
<nz-table #basicTable nzBordered [nzData]="listOfData" [nzTitle]="header">
    <ng-template #header>
        <div nz-row>
            <div nz-col [nzSpan]="24">
                <span class="float-right">
                                    <button nz-button  nzType="primary" (click)="showAddRequestModal()">Create Maintenance Request</button>
                </span>
            </div>

        </div>
    </ng-template>
    <thead>
        <tr>
            <th>Request Date</th>
            <th>Request Type</th>
            <th>Request Description</th>
            <th>Status</th>
            <th nzAlign='center'><i nz-icon nzType="edit" nzTheme="outline" style="font-size: 16px; color: #08c;"></i></th>
            <!-- <th nzAlign='center'><i nz-icon nzType="close" nzTheme="outline" style="font-size: 16px; color: rgb(204, 0, 0);"></i></th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.Date }}</td>
            <td>{{ data.type }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.Status }}</td>

            <td nzAlign='center'>
                <button nz-button class="login-form-forgot login-form-button login-form-margin" nzType="primary" (click)="showUpdateModal()">Update Maintenance Request</button>
            </td>
            <!-- <td>
                <button nz-button class="login-form-forgot login-form-button login-form-margin" nzType="danger">Cancel Request</button>
            </td> -->
        </tr>
    </tbody>
</nz-table>



<!-- View Request modal -->
<nz-modal [(nzVisible)]="isVisibleMiddle" [nzTitle]="title" nzCentered nzClosable=false>
    <ng-template #title><span style="color:#00162b; margin-right: 6px;">View</span><span style="color:#f5bd1f;">Visitation Application</span></ng-template>
    <form nz-form #requestStatus>
        <ng-container *nzModalContent>
            <nz-descriptions [nzColumn]="1" nzTitle="Visitation Details" nzBordered [nzExtra]="extraTpl">
                <nz-descriptions-item nzTitle="Application Date" [nzSpan]="1">2020-08-18 23:16</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Visit Start Date" [nzSpan]="1">2021-08-23</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Visit End Date" [nzSpan]="1">2021-08-26</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Visitation Reason" [nzSpan]="1">I have to attend a relative's funeral</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Host Name" [nzSpan]="1">Jane Doe</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Address of Visit" [nzSpan]="1">235 Thungela Street</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Host cellphone" [nzSpan]="1">0821234561</nz-descriptions-item>

                <ng-container>
                    <nz-descriptions-item nzTitle="Status" [nzSpan]="1"><span>Pending</span>
                    </nz-descriptions-item>
                </ng-container>
            </nz-descriptions>
            <ng-template #extraTpl>
                <button nz-button nzType="primary" (click)="showUpdateModal()">Update Visitation Application</button>
            </ng-template>
        </ng-container>
        <div *nzModalFooter nzColor="green">
            <button nz-button nzType="danger" (click)="handleCancelMiddle()">Close</button>
            <button nz-button nzType="primary" (click)="showCancelRequestModal()" [nzLoading]="isConfirmLoading">Cancel Visitation Application</button>
        </div>
    </form>
</nz-modal>

<!-- Confirm Cancel Request modal -->

<nz-modal [(nzVisible)]="isCancelRequestVisible" [nzTitle]="title1" nzCentered nzClosable=false nzIconType="warning">
    <ng-template #title1><span style=" color:#00162b; margin-right: 6px;">Cancel</span><span style="color:#f5bd1f;">Visitation Application</span></ng-template>
    <form nz-form>
        <ng-container *nzModalContent>
            <b style="color: red;">Are you sure you want to cancel this application?</b>
        </ng-container>
        <div *nzModalFooter nzColor="green">
            <button nz-button nzType="danger" (click)="handleCancelRequestModal()">No</button>
            <button nz-button nzType="primary" (click)="showCancelRequestConfirm()" [nzLoading]="isConfirmLoading" [hidden]="status=='Approved'">Yes</button>
        </div>
    </form>
</nz-modal>

<!-- Add request modal -->
<nz-modal [(nzVisible)]="isAddRequestMiddle" [nzTitle]="title2" nzCentered nzClosable=false>
    <ng-template #title2><span style="color:#00162b; margin-right: 6px;">Create</span><span style="color:#f5bd1f;">Maintenance Request</span></ng-template>
    <form nz-form [formGroup]="validateForm">
        <ng-container *nzModalContent>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input Maintenance Request Type!">
                    <nz-input-group [nzAddOnBefore]="Icon11">
                        <ng-template #Icon11><i nz-icon nzType="unordered-list" nzTheme="outline"></i></ng-template>
                        <nz-select style="width: 100%;" nzPlaceHolder="Select Maintenance Request Type">
                            <nz-option nzValue="Electrical" nzLabel="Electrical"></nz-option>
                            <nz-option nzValue="Plumbing" nzLabel="Plumbing"></nz-option>
                            <nz-option nzValue="IT" nzLabel="IT"></nz-option>

                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Maintenance Request Description!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="info" nzTheme="outline"></i></ng-template>
                        <textarea nz-input nzAutosize placeholder="Maintenance Request Description" formControlName="visitationReason"></textarea>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

        </ng-container>
        <div *nzModalFooter>
            <button nz-button nzType="danger" (click)="handleCancelAddRequestModal()">Cancel</button>
            <button nz-button nzType="primary" [nzLoading]="isConfirmLoading" (click)="handleOkAddRequest()">Create</button>
        </div>
    </form>
</nz-modal>


<!-- Add request modal -->
<nz-modal [(nzVisible)]="isUpdateVisible" [nzTitle]="title2" nzCentered nzClosable=false>
    <ng-template #title2><span style="color:#00162b; margin-right: 6px;">Update</span><span style="color:#f5bd1f;">Maintenance Request</span></ng-template>
    <form nz-form [formGroup]="validateForm">
        <ng-container *nzModalContent>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input Maintenance Request Type!">
                    <nz-input-group [nzAddOnBefore]="Icon11">
                        <ng-template #Icon11><i nz-icon nzType="unordered-list" nzTheme="outline"></i></ng-template>
                        <nz-select style="width: 100%;" ngModel="Electrical" nzPlaceHolder="Select Maintenance Request Type" formControlName="type">
                            <nz-option nzValue="Electrical" nzLabel="Electrical"></nz-option>
                            <nz-option nzValue="Plumbing" nzLabel="Plumbing"></nz-option>
                            <nz-option nzValue="IT" nzLabel="IT"></nz-option>

                        </nz-select>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Maintenance Request Description!">
                    <nz-input-group [nzAddOnBefore]="Icon">
                        <ng-template #Icon><i nz-icon nzType="info" nzTheme="outline"></i></ng-template>
                        <textarea nz-input nzAutosize ngModel="My lights are not working." placeholder="Maintenance Request Description" formControlName="description"></textarea>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

        </ng-container>
        <div *nzModalFooter>
            <button nz-button nzType="danger" (click)="handleCancelUpdate()">Cancel</button>
            <button nz-button nzType="primary" [nzLoading]="isConfirmLoading" nz-popconfirm nzPopconfirmTitle="Are you sure you want to update the request?" nzOkText="Yes" nzCancelText="No" nzPopconfirmPlacement="top" (nzOnConfirm)="confirm()" (nzOnCancel)="cancel()">Update</button>
        </div>
    </form>
</nz-modal>